@import "react-slideshow-image/dist/styles.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-image: url(../src/img/star.jpg);
  background-size: cover;
  /* background-color: chocolate; */
  margin: 0 auto;
  padding: 0;
}

.menu {
  margin-right: 15px;
  color: #CCC;
  text-decoration: none;
}

.menu:hover {
  transform: scale(1.1);
}

.CardPeople:hover {
  transform: scale(1.05);
}

.CardPlanet:hover {
  transform: scale(1.05);
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.dashboard {
  /* display: flex; */
  justify-content: center;
}

.dashboard__theme-btn {
  display: block;
  width: 35%;
  border-radius: 20px;
  cursor: pointer;
  margin: 15px;
  transition: all .4s;
}

.dashboard__theme-btn:hover {
  transform: scale(1.15);
}

.dashboard__title {
  text-align: center;
  font-size: 17vw;
	font-family: Impact, Charcoal, sans-serif;
	background-image: url('../src/img/fonTitle.jpg');
	background-position: center;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
}

/* .dashboard__title {
  font-size: 100px;
} */

.dashboard__btn {
  margin: 10px;
	font-family: Arial;
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 5px;
	border: 1px #3866a3 solid;
	padding: 10px 18px;
	background: linear-gradient(180deg, #1737d4 33%, #63B8EE 93%);
	text-shadow: 1px 1px 1px #528ecc;
	box-shadow: inset 1px 1px 2px 0px #bbdaf7;
	cursor: pointer;
	display: inline-block;
	align-items: center;
}

.dashboard__btn:hover {
	background: linear-gradient(180deg, #63B8EE 33%, #1737d4 93%);
}

.dashboard__btn-wrap {
  display: flex;
  justify-content: center;
}

.dashboard__ask {
  display: block;
  color: aqua;
  text-align: center;
  font-size: 20px;
}